.chosen-types {
    margin-top: 20px;

    display: flex;
    justify-content: space-around;
}

.statistics-tab {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-around;
}

.lang-btn {
    background-color: darkslategray;
    color: floralwhite;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}
